.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 102vh;
    width: 100vw;
    overflow-x: hidden !important;
    z-index: 10;
    background: url('../images/bg.png');
    background-size: cover;
}

.stage {
    height: 101vh;
    overflow: hidden;
    position: relative;
}

.main-stage {
    height: 101vh;
}

.base-layer {
    z-index: 1;
}
.middle-layer {
    z-index: 2;
}
.top-layer {
    z-index: 3;
}

.bold {
    font-weight: bold;
}

.grey {
    color: #343434;
}

.util-font-20 {
    font-size: 20px;
}

.util-top-gap {
    margin-top: 3vh;
}

.util-bottom-gap {
    margin-bottom: 3vh;
}

.credits-text {
    font-size: 18px;
    line-height: 18px;
}

.credits-logo {
    padding-left: 0;
}

.banner-container {
    height: 35vh;
    overflow: hidden;
}

.ingredient-banner {
    position: relative;
    top: -25vh;

    &.in {
        -webkit-transform: translate3d(0,0,0);
        -webkit-animation: top-in 1.2s ease forwards;
        animation: top-in 1.2s ease forwards;
    }
}

.desc-banner {
    display: none;

    &.bounce {
        display: block;
        -webkit-transform: translate3d(0,0,0);
        -webkit-animation: bounce 0.8s ease forwards infinite;
        animation: bounce 0.8s ease forwards infinite;
    }
}

.banner {
    margin-top: 3vh;
}

.toss-frame-container {
    height: 101vh;
    width: 100vw;
    position: absolute;
    top: 0;
    overflow: hidden;
}

.toss-base {
    max-width: 130vmin;
    margin-left: -19vmin;
    z-index: 2;
}

.toss-frame {
    max-width: 110vmin;
    margin-left: -8vmin;
    z-index: 3;
}

.main-plate {
    max-width: 130vmin;
    margin-left: -19vmin;
    z-index: 1;
}

.small-plate {
    z-index: 2;
    position: absolute;
    bottom: -40vh;
    max-width: 60vw;
    margin-left: 16vw;

    &.in {
        -webkit-transform: translate3d(0,0,0);
        -webkit-animation: bottom-in 1.2s ease forwards;
        animation: bottom-in 1.2s ease forwards;
    }
}

.chunks-container {
    position: absolute;
    top: 32vh;
}

.credits-container {
    position: absolute;
    top: 52vh;
    opacity: 0;

    &.in {
        -webkit-transform: translate3d(0,0,0);
        -webkit-animation: fade-in 0.8s ease forwards;
        animation: fade-in 0.8s ease forwards;
    }
}

.share-logo {
    width: 33vw;
}

.chunk-plate {
    max-width: 130vmin;
    margin-left: -19vmin;
    z-index: 1;
    position: absolute;
    top: 0;
}

.bob {
    -webkit-transform: translate3d(0,0,0);
    -webkit-animation: bounce 0.7s ease forwards infinite;
    animation: bounce 0.7s ease forwards infinite;
}

.share-link {
    width: 100%;
    margin-bottom: 1vh;
}

.share-buttons-container {
    padding: 0 15vw;
}
.share-button {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: #FFF !important;
    outline: none !important;
    margin-bottom: 10px;
    border-radius: 10px;
}
.share-whatsapp {
    background-color: #44cc71;
    -webkit-box-shadow: 0px 4px 0px #38ba64;
    box-shadow: 0px 4px 0px #38ba64;
}
.share-sms {
    background-color: #5fc6c4;
    -webkit-box-shadow: 0px 4px 0px #54ABA8;
    box-shadow: 0px 4px 0px #54ABA8;
}
.share-icon {
  height: 4vh;
}
.share-type {
  display: inline-block;
  min-width: 100px;
}

// Animation keyframes
// ============================================================================
@-webkit-keyframes top-in {
    100% { top: 2vh; }
}

@keyframes top-in {
    100% { top: 2vh; }
}

@-webkit-keyframes bottom-in {
    100% { bottom: 5vh; }
}

@keyframes bottom-in {
    100% { bottom: 5vh; }
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: scale(0.94,0.94); /* Chrome, Safari, Opera */
    }
    50% {
        -webkit-transform: scale(1,1); /* Chrome, Safari, Opera */
    }
    100% {
        -webkit-transform: scale(0.94,0.94); /* Chrome, Safari, Opera */
    }
}

@keyframes bounce {
    0% {
        -ms-transform: scale(0.94,0.94); /* IE 9 */
        -webkit-transform: scale(0.94,0.94); /* Chrome, Safari, Opera */
        transform: scale(0.94,0.94);
    }
    50% {
        -ms-transform: scale(1,1); /* IE 9 */
        -webkit-transform: scale(1,1); /* Chrome, Safari, Opera */
        transform: scale(1,1);
    }
    100% {
        -ms-transform: scale(0.94,0.94); /* IE 9 */
        -webkit-transform: scale(0.94,0.94); /* Chrome, Safari, Opera */
        transform: scale(0.94,0.94);
    }
}

@-webkit-keyframes fade-in {
    100% { opacity: 1; }
}

@keyframes fade-in {
    100% { opacity: 1; }
}